<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Portfolio</h1>
        <p class="lead text-muted"> A look at all of my portfolios. Starting from my first HTML page through to my work at EDA and also the work I've done post school. </p>
        <p>
        <%= link_to "If you're interested in learning more", about_path, class: 'btn btn-primary' %>
        <%= link_to "If you're interested in contacting me", contact_path, class: 'btn btn-secondary' %>
        
        </p>
    </div>
</section>