      <footer class="text-muted">
        <div class="container">
          <p class="float-right">
            <p><%= copyright_generator %> || <%= link_to 'view all portfoios', portfolio_items_path %></p>
          <%= set_source_helper("applicaion") %>
        </div>
      </footer>