<h1>About me</h1>
<p>After 4 years working as a chef, I was hungry for a change, I needed something new.
 Programming and web development was always on my mind, but I didn’t believe I’d be challenged 
 in the same way cooking challenged me. After an impulsive sign up to Dev Academy in Wellington,
I was pleasantly surprised that a lot of the same problems that I loved facing as a chef, also
showed up in web development. To my surprise I was able to move on from cooking and grow a
love for development. I look forward to my first role as a dev and sucking in as much knowledge as possible.
 My time at EDA was excellent, it really made me reaffirm my decisions to change careers,
 and I hope I cant bring some of my skills and work ethic as a chef, to the tech world.</p>
