<h1>Would you like to work together?</h1>

<hr>

<div class="row">
    <div class="col-md-6">
      <h3> office Address </h3>

      <p> Enspiral Dev Academy </p>
       <h3> Phone </h3>

       <p><%= number_to_phone "55555555" %></p>
  
        <h3> Email </h3>  

        <p><a href="mailto:t.kurudi209@gmail.com?subject=PortfolioContact" "email me">Email me</a></p>
        </div>

        <div class="col-md-6">
         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2997.190682503267!2d174.
         77187745133418!3d-41.30471524936353!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d38a
         fe02823bf5f%3A0xbe6a0648c5262e24!2s14%2F26+Wright+St%2C+Mount+Cook%2C+Wellington+6021!5e0!3m2!
         1sen!2snz!4v1549245265733" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

            </div>
              </div>