
<div class="inner cover">
    <h1 class="cover-heading">Welcome</h1>
    <p class="lead">Welcome to my Ruby portfolio. This is my first project with ruby. I'm using this project to learn rails and and understund how
    everything fits together. I intend to continualy add more things to this site and keep learning as much as I can </p>
    <p class="lead">
        <%= link_to "About me", about_path, class: "btn btn-lg btn-secondary" %>
    </p>
</div>


</div>


